<div class="controls-container">
  <div class="info-container">
    <div class="info-container-img">
      <img [src]="data.coverBytes" alt="album" *ngIf="data !== undefined" />
    </div>
    <div class="info-container-in">
      <p *ngIf="data !== undefined">{{ data.title }}</p>
      <p *ngIf="data !== undefined">{{ data.artist }}</p>
    </div>
  </div>
  <div class="controls-container-sub">
    <div class="button-container">
      <button>Prev</button>
      <button (click)="playPauseAudio()">Play</button>
      <button>Next</button>
    </div>
    <div class="controls-sub">
      <input
        type="range"
        class="progressbar"
        id="progress-bar"
        title="Progress Bar"
        step="0.1"
        [(ngModel)]="progressBar"
        (input)="changeAudioTime()"
      />
    </div>
  </div>
  <div class="volume-container">
    <input
      type="range"
      id="volume-bar"
      class="volumebar"
      title="Volume Bar"
      [(ngModel)]="volume"
      (input)="changeVolume()"
    />
  </div>
</div>
