<div class="main-container">
  <div class="song-list-container">
    <!-- Lista -->
    <div *ngFor="let val of songlist; let idx = index" class="song-tile">
      <button type="button" (click)="openAudioFile(val.fullpath)">
        <!-- Tile principal -->
        <div class="song-tile-in">
          <!-- Cover -->
          <div class="song-cover">
            <p>{{ idx + 1 }}</p>
            <img [src]="val.coverURL" alt="" />
          </div>
          <!-- info -->
          <div class="song-info">
            <div>
              <p class="song-title">{{ val.meta.common.title }}</p>
              <p class="song-artist">{{ val.meta.common.artist }}</p>
            </div>
            <div>
              <p>{{ val.meta.format.duration * 1000 | date: "mm:ss" }}</p>
            </div>
          </div>
        </div>
      </button>
    </div>
  </div>
</div>
